<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
    <link href="~/Styles/site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h1>Employees</h1>
    <div>
        @RenderBody()
    </div>
    <br />
    <hr />
    <h2 id="userName"></h2>
    <form id="signoutForm">
        <button id="signout" type="button">Sign Out</button>
    </form>
</body>
</html>